@import "src/index";

.custom-input__container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .label {
    width: 100%;
    text-align: start;
    margin-left: 20px;
    margin-bottom: -10px;
    font-size: 1.4rem;
  }

  p {
    width: 100%;
    input {
      background-color: $gray-secondary;
      color: $gray-primary;
      border: none;
    }
    input:hover {
      border: none;
    }
    span {
      pointer-events: auto !important;
      cursor: pointer;
      i {
        color: $gray-primary;
      }
    }

    margin: 10px 0 5px;
  }

  &--error {
    color: red;
    font-size: 0.875em;
    text-align: start;
    padding-left: 10px;
    height: 15px;
  }
}